ul{
    display: flex;
}
#fAc{
    position: absolute;
    width:45px;
    height:10%;
}
#fSub{
    width:45px;
}
#fAdd{
    width:45px;
    
}  
#fMul{
    width:45px;
   
}
#fDiv{
    width: 45px;
}
#fEq{
    width:50px;
}
